@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-weight: 300;
  line-height: 1.2;
}

/* Utility classes */
.bg-dark {
  color: #fff;
  background-color: #333;
}
.bg-primary {
  color: #fff;
  background-color: #28a745;
}
.bg-danger {
  background-color: #dc143c;
  color: #fff;
}
.bg-deleted {
  background-color: #b6c1ca50;
  color: #333;
}
.bg-secondary {
  background-color: #6c757d50;
  color: #333;
}
.bg-tursory {
  background-color: #007bff;
  color: #fff;
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 70px;
  padding: 0 30px;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 10px 20px;
}
.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

/* Table */
.container {
  margin: 40px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  padding: 10px;
  border: 1px solid #333;
  text-align: left;
}
th {
  border: 1px solid #fff;
  padding: 10px;
  text-align: left;
}
.user-edit,
.user-delete,
.user-duplicate {
  padding: 10px 10px;
  margin: 0 10px 0 0;
}
.user-edit:hover,
.user-delete:hover,
.user-duplicate:hover {
  opacity: 0.9;
}
input[type="checkbox"] {
  cursor: pointer;
}
.checkbox {
  text-align: center;
}

/* USer info */
.user-info {
  margin: 20px;
  width: 100%;
  text-align: left;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subject {
  height: 30px;
  margin: 0 10px;
  border: none;
  border-bottom: 2px solid #28a745;
  outline: none;
  cursor: pointer;
}
label {
  font-weight: bold;
}
.search {
  height: 30px;
  margin: 0 10px;
  border: none;
  border-bottom: 2px solid #28a745;
  outline: none;
}
.text-info-small {
  color: #555;
  font-size: 12px;
  margin-top: 10px;
}
.selected-subject {
  font-weight: bold;
  font-size: 14px;
}
.option-text {
  height: 30px;
  margin: 0 10px;
  border: none;
  border-bottom: 2px solid #007bff;
  outline: none;
}
.btn-primary {
  color: #fff;
  background-color: #28a745;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn-tursory {
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
}
button:hover {
  opacity: 0.9;
}
